In [4]:
import numpy as np
import pandas as pd
df = pd.read_csv("movies_2.csv")
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# df.head(5)
print(df.shape)

(616, 11)

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB
None

In [7]:
print(df.dtypes)

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [8]:
print(df.isna().sum())

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

In [10]:
df.describe()

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

In [11]:
print('null values', df.isna().any())

null values MovieID         False
Title            True
MPAA Rating      True
Budget           True
Gross            True
Release Date     True
Genre            True
Runtime          True
Rating           True
Rating Count     True
Summary          True
dtype: bool

In [123]:
df_without_summary=df.drop("Summary", axis = 1)
df_without_summary

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000.0,411348924.0,1989-06-23,Action,126.0,7.5,319517.0

In [14]:
df[['Gross', 'Budget']].mean()

Gross     4.453221e+08
Budget    9.491710e+07
dtype: float64

In [125]:
df.astype({"Budget":int,"Gross":int})

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
7,8,Dead Poets Society,PG,16400000,235860116,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
13,14,Batman,PG,35000000,411348924,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...

In [132]:
# df["Release date"]= pd.to_datetime(["Release date"])
# df.dtypes

df['Release Date'] = pd.to_datetime(df['Release Date'])
print(df.dtypes)
df

MovieID                  int64
Title                   object
MPAA Rating             object
Budget                 float64
Gross                  float64
Release Date    datetime64[ns]
Genre                   object
Runtime                float64
Rating                 float64
Rating Count           float64
Summary                 object
dtype: object

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
13,14,Batman,PG,35000000.0,411348924.0,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...

In [19]:
# use the fillna() method to replace the missing values of Rating with their median
df.fillna(df["Rating"].median())

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,6.9,6.9
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,6.9,6.9
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,6.9,6.9
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,6.9,6.9
615,0,6.9,6.9,6.9,6.900000e+00,6.9,6.9,6.9,6.9,6.9,6.9

In [20]:
# Drop the duplicates, if any
df.drop_duplicates()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# importing pandas as pd
import pandas as pd
# Making data frame from the csv file
df = pd.read_csv("movies_2.csv")
df[:10]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000.0,79258538.0,1989-08-16,Family,100.0,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...

In [135]:
# 1.show the movies with more than 7 in Rating & greater than 50 million Gross

df[(df['Rating'] > 7) & (df["Gross"] > 50000000)]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
13,14,Batman,PG,35000000.0,411348924.0,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...

In [136]:
# 2.show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

df[(df['Rating'] > 7) & (df['Gross'] >  50000000) & (df['MPAA Rating'] == 'PG')]
# df = df[(df['Rating'] > 7) & (df['Gross'] >  50000000) & (df['MPAA Rating'] == 'PG')].head(5)
# print(df)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
13,14,Batman,PG,35000000.0,411348924.0,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...

In [34]:
# 3.show the count of Animation movies with more than 7 in Rating (use the shape() method)
df[(df['Genre'] == 'Animation') & (df["Rating"] > 7)].shape

(26, 11)

In [35]:
# 4.show the top 5 movies based on Budget

df.sort_values("Budget", ascending=False).head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
435,436,Tangled,PG,260000000.0,591794936.0,2010-11-24,Animation,100.0,7.7,374981.0,The magically long-haired Rapunzel has spent h...
415,416,Harry Potter and the Half-Blood Prince,PG,250000000.0,933959197.0,2009-07-07,Fantasy,153.0,7.6,429384.0,As Harry Potter begins his sixth year at Hogwa...
468,469,Brave,PG,185000000.0,538983207.0,2012-06-21,Animation,93.0,7.1,346490.0,"Determined to make her own path in life, Princ..."
410,411,Monsters vs Aliens,PG,175000000.0,381509870.0,2009-03-19,Animation,94.0,7.7,374981.0,NaN
411,412,Up,PG,175000000.0,735099082.0,2009-05-13,Animation,96.0,8.2,867393.0,Seventy-eight year old Carl Fredricksen travel...

In [114]:
# 5.show the top 5 Comedy movies by Rating

df[df['Genre'] == "Comedy"]
df[df['Genre'] == "Comedy"].sort_values("Rating", ascending=False).head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...

In [37]:
# 6.top 5 movie names by Rating

df.sort_values("Rating", ascending=False).head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
106,107,Star Trek: Generations,PG,38000000.0,120000000.0,1994-11-17,Science Fiction,118.0,8.5,869127.0,With the help of long presumed dead Captain Ki...
411,412,Up,PG,175000000.0,735099082.0,2009-05-13,Animation,96.0,8.2,867393.0,Seventy-eight year old Carl Fredricksen travel...
185,186,The Truman Show,PG,60000000.0,264118201.0,1998-06-04,Comedy,103.0,8.1,859224.0,An insurance salesman discovers his whole life...
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
428,429,How to Train Your Dragon,PG,165000000.0,494878759.0,2010-03-05,Animation,98.0,8.1,624128.0,A hapless young Viking who aspires to hunt dra...

In [ ]:
# 7.top 3 high Gross Romance movies released after 1999 (typecast it to datetime)

from datetime import datetime
# df[(df["Genre"] == "Romance") & (df["Release_Date"] > datetime.time("1999-12-31", "%Y-%m-%d"))]
# df.sort_values("Gross", ascending=False).head(3)

In [116]:
# 8.how many Genres are present in the dataframe? (use value_counts() method which applies to Series, not Dataframe)
Genre_series  = df['Genre'].explode()
Genre_series.value_counts()

Genre
Drama     2
Comedy    1
Crime     1
Action    1
Name: count, dtype: int64

In [110]:
# 9.top 5 most expensive movies released after 1999 (measured by Budget)
df[df["Release Date"], datetime (1999-12-31, %y-%m-%d)]
df.sort_values("Budget",ascending = False).head(5)

SyntaxError: invalid syntax (834948704.py, line 2)

In [118]:
# 10.most & least frequent MPAA Rating in the dataset in terms of occurrences
mpaa_rating_counts = df['MPAA Rating'].value_counts()

print("Most freq MPAA Rating :", Rating_series.max())
print("Less freq MPAA Rating :",Rating_series.min())

Most freq MPAA Rating : PG
Less freq MPAA Rating : PG

In [43]:
# 11.most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)

Budget_avg_Genre = df.groupby('Genre')["Budget"].mean()
Budget_avg_Genre

Genre
Action             3.000000e+07
Animation          1.229231e+08
Comedy             3.052500e+07
Crime              1.300000e+07
Drama              2.568000e+07
Family             2.966667e+07
Fantasy            1.512500e+08
Science Fiction    4.875000e+07
Thriller           3.000000e+07
Name: Budget, dtype: float64

In [119]:
# 12.which Genre is favoured the most?
most_rating_count = df.groupby('Genre')['Rating'].value_counts()
most_rating_count.head(1)

Genre   Rating
Action  7.5       1
Name: count, dtype: int64